# Framework
alembic
fastapi
pydantic
pydantic_core
starlette
uvicorn
SQLAlchemy

# Conector do Banco
psycopg2-binary

# Segurança
bcrypt==4.0.1
passlib==1.7.4

# E-mail
sendgrid
email_validator
dnspython

# Outras dependências
anyio
cffi
click
colorama
cryptography
ecdsa
greenlet
h11
httptools
idna
Mako
MarkupSafe
pyasn1
pycparser
python-dotenv
python-jose
python-multipart
PyYAML
rsa
six
sniffio
typing-inspection
typing_extensions
watchfiles
websockets
Werkzeug